Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag (Scorie d'altoforno)</strong>

<strong>3. Fly Ash (Ceneri volanti, per migliorare la qualit√† del cemento)</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('c:/temp/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to _n_cols_ since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

#### Let's go ahead and import the Keras library

In [11]:
import keras

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

# Note
In Keras, the input layer itself is not a layer, but a tensor (we will discuss tensors in the next lecture). This tensor must have the same shape as your training data. Example: if you have 30 images of 50x50 pixels in RGB (3 channels), the shape of your input data is (30,50,50,3)

<b>In our case, n_cols must be initialized to the number of predictors</b>

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [14]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the _fit_ method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [15]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 6s - loss: 1661.9785 - val_loss: 1168.5366
Epoch 2/100
23/23 - 0s - loss: 1519.5750 - val_loss: 1047.8912
Epoch 3/100
23/23 - 0s - loss: 1314.2769 - val_loss: 873.5722
Epoch 4/100
23/23 - 0s - loss: 1009.1753 - val_loss: 649.2527
Epoch 5/100
23/23 - 0s - loss: 668.2951 - val_loss: 422.7929
Epoch 6/100
23/23 - 0s - loss: 388.4806 - val_loss: 270.8444
Epoch 7/100
23/23 - 0s - loss: 271.5462 - val_loss: 207.3188
Epoch 8/100
23/23 - 0s - loss: 237.4507 - val_loss: 189.4844
Epoch 9/100
23/23 - 0s - loss: 220.0217 - val_loss: 180.9190
Epoch 10/100
23/23 - 0s - loss: 206.9361 - val_loss: 176.2282
Epoch 11/100
23/23 - 0s - loss: 197.0861 - val_loss: 171.9234
Epoch 12/100
23/23 - 0s - loss: 189.0513 - val_loss: 169.1564
Epoch 13/100
23/23 - 0s - loss: 182.5491 - val_loss: 167.5334
Epoch 14/100
23/23 - 0s - loss: 177.8810 - val_loss: 164.3254
Epoch 15/100
23/23 - 0s - loss: 172.8917 - val_loss: 165.5543
Epoch 16/100
23/23 - 0s - loss: 168.7580 - val_loss: 162.8901
Epoch 17/100
23/23 - 0s - loss: 164.7526 - val_loss: 162.0583
Epoch 18/100
23/23 - 0s - loss: 161.6106 - val_loss: 160.5499
Epoch 19/100
23/23 - 0s - loss: 159.0898 - val_loss: 161.0210
Epoch 20/100
23/23 - 0s - loss: 155.9984 - val_loss: 160.2412
Epoch 21/100
23/23 - 0s - loss: 153.8627 - val_loss: 160.3033
Epoch 22/100
23/23 - 0s - loss: 151.3961 - val_loss: 160.8662
Epoch 23/100
23/23 - 0s - loss: 149.3003 - val_loss: 162.4488
Epoch 24/100
23/23 - 0s - loss: 147.4560 - val_loss: 161.7208
Epoch 25/100
23/23 - 0s - loss: 145.5087 - val_loss: 163.2644
Epoch 26/100
23/23 - 0s - loss: 143.3033 - val_loss: 162.7472
Epoch 27/100
23/23 - 0s - loss: 141.7118 - val_loss: 161.5919
Epoch 28/100
23/23 - 0s - loss: 140.0752 - val_loss: 162.7365
Epoch 29/100
23/23 - 0s - loss: 138.4579 - val_loss: 161.4088
Epoch 30/100
23/23 - 0s - loss: 136.9147 - val_loss: 162.6441
Epoch 31/100
23/23 - 0s - loss: 135.3617 - val_loss: 161.0580
Epoch 32/100
23/23 - 0s - loss: 133.4388 - val_loss: 163.1085
Epoch 33/100
23/23 - 0s - loss: 132.0724 - val_loss: 162.3257
Epoch 34/100
23/23 - 0s - loss: 130.2433 - val_loss: 162.4073
Epoch 35/100
23/23 - 0s - loss: 128.4443 - val_loss: 161.9299
Epoch 36/100
23/23 - 0s - loss: 127.2538 - val_loss: 165.0566
Epoch 37/100
23/23 - 0s - loss: 125.2884 - val_loss: 162.8968
Epoch 38/100
23/23 - 0s - loss: 123.6152 - val_loss: 164.2586
Epoch 39/100
23/23 - 0s - loss: 121.8349 - val_loss: 164.4923
Epoch 40/100
23/23 - 0s - loss: 119.6140 - val_loss: 165.3359
Epoch 41/100
23/23 - 0s - loss: 118.4009 - val_loss: 165.3868
Epoch 42/100
23/23 - 0s - loss: 116.0088 - val_loss: 165.6022
Epoch 43/100
23/23 - 0s - loss: 114.2875 - val_loss: 168.9843
Epoch 44/100
23/23 - 0s - loss: 111.7913 - val_loss: 166.5764
Epoch 45/100
23/23 - 0s - loss: 110.7685 - val_loss: 167.5782
Epoch 46/100
23/23 - 0s - loss: 108.2446 - val_loss: 163.7709
Epoch 47/100
23/23 - 0s - loss: 106.3925 - val_loss: 168.0120
Epoch 48/100
23/23 - 0s - loss: 103.6017 - val_loss: 165.8018
Epoch 49/100
23/23 - 0s - loss: 101.3561 - val_loss: 170.8272
Epoch 50/100
23/23 - 0s - loss: 99.1011 - val_loss: 166.9564
Epoch 51/100
23/23 - 0s - loss: 97.1755 - val_loss: 166.0482
Epoch 52/100
23/23 - 0s - loss: 95.6637 - val_loss: 160.3752
Epoch 53/100
23/23 - 0s - loss: 92.5984 - val_loss: 168.0249
Epoch 54/100
23/23 - 0s - loss: 89.8481 - val_loss: 163.6710
Epoch 55/100
23/23 - 0s - loss: 87.0252 - val_loss: 159.7876
Epoch 56/100
23/23 - 0s - loss: 84.7728 - val_loss: 173.9895
Epoch 57/100
23/23 - 0s - loss: 82.5615 - val_loss: 158.7652
Epoch 58/100
23/23 - 0s - loss: 80.8238 - val_loss: 160.2376
Epoch 59/100
23/23 - 0s - loss: 78.1815 - val_loss: 172.0900
Epoch 60/100
23/23 - 0s - loss: 75.4462 - val_loss: 161.4005
Epoch 61/100
23/23 - 0s - loss: 73.1672 - val_loss: 161.4727
Epoch 62/100
23/23 - 0s - loss: 71.8930 - val_loss: 167.6105
Epoch 63/100
23/23 - 0s - loss: 69.5326 - val_loss: 155.9455
Epoch 64/100
23/23 - 0s - loss: 68.7128 - val_loss: 168.2604
Epoch 65/100
23/23 - 0s - loss: 66.6304 - val_loss: 161.5664
Epoch 66/100
23/23 - 0s - loss: 63.7296 - val_loss: 158.3823
Epoch 67/100
23/23 - 0s - loss: 62.0656 - val_loss: 163.1068
Epoch 68/100
23/23 - 0s - loss: 60.1477 - val_loss: 154.2817
Epoch 69/100
23/23 - 0s - loss: 59.4085 - val_loss: 153.5089
Epoch 70/100
23/23 - 0s - loss: 56.8284 - val_loss: 156.6955
Epoch 71/100
23/23 - 0s - loss: 56.0840 - val_loss: 161.8161
Epoch 72/100
23/23 - 0s - loss: 54.5603 - val_loss: 142.7205
Epoch 73/100
23/23 - 0s - loss: 53.3798 - val_loss: 147.2957
Epoch 74/100
23/23 - 0s - loss: 52.0590 - val_loss: 152.2090
Epoch 75/100
23/23 - 0s - loss: 50.3874 - val_loss: 142.4054
Epoch 76/100
23/23 - 0s - loss: 49.4097 - val_loss: 154.8697
Epoch 77/100
23/23 - 0s - loss: 48.4369 - val_loss: 143.4339
Epoch 78/100
23/23 - 0s - loss: 47.7125 - val_loss: 138.9443
Epoch 79/100
23/23 - 0s - loss: 46.8194 - val_loss: 146.7666
Epoch 80/100
23/23 - 0s - loss: 46.2486 - val_loss: 145.3574
Epoch 81/100
23/23 - 0s - loss: 45.1193 - val_loss: 142.7764
Epoch 82/100
23/23 - 0s - loss: 44.2307 - val_loss: 143.8318
Epoch 83/100
23/23 - 0s - loss: 43.8849 - val_loss: 134.4464
Epoch 84/100
23/23 - 0s - loss: 42.8339 - val_loss: 142.2894
Epoch 85/100
23/23 - 0s - loss: 41.6243 - val_loss: 141.1532
Epoch 86/100
23/23 - 0s - loss: 41.0913 - val_loss: 138.6085
Epoch 87/100
23/23 - 0s - loss: 40.8388 - val_loss: 137.5448
Epoch 88/100
23/23 - 0s - loss: 40.0963 - val_loss: 144.5543
Epoch 89/100
23/23 - 0s - loss: 39.6621 - val_loss: 131.3725
Epoch 90/100
23/23 - 0s - loss: 38.7207 - val_loss: 142.6367
Epoch 91/100
23/23 - 0s - loss: 38.3459 - val_loss: 133.9283
Epoch 92/100
23/23 - 0s - loss: 38.3746 - val_loss: 136.7701
Epoch 93/100
23/23 - 0s - loss: 38.1642 - val_loss: 137.8478
Epoch 94/100
23/23 - 0s - loss: 38.0728 - val_loss: 127.6965
Epoch 95/100
23/23 - 0s - loss: 36.7230 - val_loss: 133.9445
Epoch 96/100
23/23 - 0s - loss: 36.9261 - val_loss: 135.1354
Epoch 97/100
23/23 - 0s - loss: 36.8311 - val_loss: 131.3879
Epoch 98/100
23/23 - 0s - loss: 35.4580 - val_loss: 132.9916
Epoch 99/100
23/23 - 0s - loss: 35.2489 - val_loss: 130.9189
Epoch 100/100
23/23 - 0s - loss: 35.1885 - val_loss: 135.7886

loss is the value of cost function for your training data and val_loss is the value of cost function for your cross-validation data

# Can you get better loss values?
Try to change the number of epochs or the number of hidden layers.